{% extends 'theme/base.html' %}
{% load cms_tags sekizai_tags static sass_tags %}
{% block portal %}
    <div class="slide album py-5 bg-developers">
        <div class="inventories container-fluid">
            <div id="myInventoryCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto">
                    {% placeholder "inventories" %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a id='prevInventory' class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a id="nextInventory" class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        {% block categories %} {% endblock %}
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
                {% block content %} {% endblock %}
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
                {% block aside %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


