{% extends "theme/base.html" %}
{% load static sekizai_tags i18n %}

{% block title %} Portal {% endblock title %}
{% block logo %}
    <img src="{% static 'theme/images/logo.png'  %}" width="30" height="27" alt="Developer.nl">
{% endblock %}
{% block content %}
    <div>
        <h5 class="font-weight-bold">{% trans "Out of stock" %}</h5>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>
        </ul>


    </div>
{% endblock %}

{% block aside %}
    <div><h5 class="font-weight-bold">{% trans "Almost out of stock" %}</h5>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>
        </ul></div>
{% endblock %}
