{% extends "theme/base_homepage.html" %}
{% load static sekizai_tags i18n cms_tags %}

{% block content %}
    <div>
        <h5 class="font-weight-bold">{% trans "Out of stock" %}</h5>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>
        </ul>


    </div>
{% endblock %}

{% block aside %}
    <div><h5 class="font-weight-bold">{% trans "Almost out of stock" %}</h5>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In eget risus et dolor volutpat semper.</li>
            <li>Milk</li>
        </ul></div>
{% endblock %}
